<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5f28add-fe42-4c5f-add3-ef8fc9101b7c" Alias="blogs" Level="1">
  <Info>
    <Name>Blogs</Name>
    <Icon>icon-thumbnail-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="0d7e2352-ff03-456e-8e88-1fec39bde358">pageContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="eb120d9d-d8d3-4c67-a93b-86feb98f2edf" SortOrder="0">blog</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>