<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9a930d9-4301-4be0-9e78-218d080c62bd" Alias="content" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-browser-window color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="0d7e2352-ff03-456e-8e88-1fec39bde358">pageContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c5f28add-fe42-4c5f-add3-ef8fc9101b7c" SortOrder="0">blogs</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>