<?xml version="1.0" encoding="utf-8"?>
<Content Key="67e16387-b114-47c8-9a9f-f67acc349ea8" Alias="Blog" Level="2">
  <Info>
    <Parent Key="5c5ba42a-a61b-4e1e-a938-5e34decbd1bd">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blogs</ContentType>
    <CreateDate>2024-03-21T20:29:51</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredImage>
      <Value><![CDATA[[]]]></Value>
    </featuredImage>
    <pageContentRte>
      <Value><![CDATA[{
  "markup": "<p>This is the blog!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </pageContentRte>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageTitle>
      <Value><![CDATA[Blog]]></Value>
    </pageTitle>
  </Properties>
</Content>