<?xml version="1.0" encoding="utf-8"?>
<Content Key="a70584b1-f326-41af-9a48-6511fc12bf0c" Alias="Generating a TypeScript OpenAPI client from Umbraco's Content Delivery API" Level="3">
  <Info>
    <Parent Key="67e16387-b114-47c8-9a9f-f67acc349ea8">Blog</Parent>
    <Path>/Home/Blog/GeneratingATypeScriptOpenAPIClientFromUmbracosContentDeliveryAPI</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2024-03-21T20:30:34</CreateDate>
    <NodeName Default="Generating a TypeScript OpenAPI client from Umbraco's Content Delivery API" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredImage>
      <Value><![CDATA[[]]]></Value>
    </featuredImage>
    <pageContentRte>
      <Value><![CDATA[{
  "markup": "<p>I recently migrated this site to use Umbraco's Content Delivery API as part of an Astro site, and wanted to generate a TypeScript client to use to pull content.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </pageContentRte>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageTitle>
      <Value><![CDATA[Generating a TypeScript OpenAPI client from Umbraco's Content Delivery API]]></Value>
    </pageTitle>
    <publishedDate>
      <Value><![CDATA[2024-01-05T00:00:00]]></Value>
    </publishedDate>
  </Properties>
</Content>