<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c5ba42a-a61b-4e1e-a938-5e34decbd1bd" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-03-21T14:36:31</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredImage>
      <Value><![CDATA[[]]]></Value>
    </featuredImage>
    <pageContentRte>
      <Value><![CDATA[{
  "markup": "<p>This is an Astro demo site that is powered by Umbraco's Content Delivery API!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </pageContentRte>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageTitle>
      <Value><![CDATA[Hello Umbraco Manchester! 👋🏻]]></Value>
    </pageTitle>
  </Properties>
</Content>