<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f181a16-9460-42f9-be9e-be5ef3640ded" Alias="umbracodegen" Level="3">
  <Info>
    <Parent Key="67e16387-b114-47c8-9a9f-f67acc349ea8">Blog</Parent>
    <Path>/Home/Blog/umbracodegen</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2024-03-21T20:30:15</CreateDate>
    <NodeName Default="umbracodegen" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredImage>
      <Value><![CDATA[[]]]></Value>
    </featuredImage>
    <pageContentRte>
      <Value><![CDATA[{
  "markup": "<p>I went down a bit of an Umbraco Bellissima rabbit hole this weekend and built a little tool for myself that I wanted to open source - introducing umbracodegen!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </pageContentRte>
    <pageGrid>
      <Value><![CDATA[]]></Value>
    </pageGrid>
    <pageTitle>
      <Value><![CDATA[umbracodegen]]></Value>
    </pageTitle>
    <publishedDate>
      <Value><![CDATA[2024-02-19T00:00:00]]></Value>
    </publishedDate>
  </Properties>
</Content>